<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
<title>Buscador Producto Personalizado</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="/CSS/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="/CSS/MenuAdministrativo.css">
          <link rel="stylesheet" href="/CSS/consultacompra.css">
        <link rel="shortcut icon" href="/IMG/favicon/favicon.png" type="image/x-icon">
        <script src="https://kit.fontawesome.com/c5518553b0.js" crossorigin="anonymous"></script>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
        <nav class="sb-topnav navbar navbar-expand navbar-dark">
            <button class="btn btn-link mx-1 me-4 me-lg-0" style="font-size: 1.4rem;" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <a class="titulo navbar-brand ps-3">Pasteleria Rocio</a>
            <ul class="navbar-nav ms-auto ms-md-auto me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 1.5rem;">AdminRocio<i class="fa-solid fa-user-gear"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Configuración</a></li>
                        <li><a class="dropdown-item" onclick="salir()" href="/loginadmin">Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark fondo-opc" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav d-flex flex-column">
                            <div class="text sb-sidenav-menu-heading">ADMINISTRACIÓN DE DATOS</div>
                            <a class="subtitulo nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#productos" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="ico fa-solid fa-cake-candles"></i></div>
                                <span style="color: rgb(255, 193, 132);">Productos</span>
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" style="background-color: rgb(169, 72, 14);" id="productos" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav" style="background-color: rgb(254, 163, 61);">
                                    <a class="nav-link" th:href="@{/Producto/RegistroDeProducto}"><span style="color: black;" class="subcate"><b>Registro Productos</b></span></a>
                                    <a class="nav-link" th:href="@{/Producto/ConsultaDeProducto}"><span style="color: black;" class="subcate"><b>Consulta Productos</b></span></a>
                                    <a class="nav-link" th:href="@{/ProductoPersonalizado/Personalizado}"><span style="color: black;" class="subcate"><b>Producto Personalizado</b></span></a>
                                </nav>
                            </div>
                           <a class="subtitulo nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#factura" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="ico fa-solid fa-file-invoice-dollar"></i></div>
                                <span style="color: rgb(255, 193, 132);">Venta</span>
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" style="background-color: rgb(169, 72, 14);" id="factura" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" style="background-color: rgb(254, 163, 61);" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" th:href="@{/DetallePedido/ConsultaDetallePedido}" >
                                        <span style="color: black;" class="subcate"><b> Consulta Pedido Venta</b></span>
                                    </a>
                                </nav>
                            </div>
                            <a class="subtitulo nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#almacen" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="ico fa-solid fa-store"></i></div>
                                <span style="color: rgb(255, 193, 132);">Almacen</span>
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="almacen" style="background-color: rgb(169, 72, 14);" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages" style="background-color: rgb(254, 163, 61);">
                                    <a class="nav-link collapsed" th:href="@{/Almacen/RegistroAlmacen}">
                                        <span style="color: black;" class="subcate"><b> Registro Almacen</b></span>
                                    </a>
                                    <a class="nav-link collapsed" th:href="@{/Almacen/ConsultaAlmacen}">
                                        <span style="color: black;" class="subcate"><b>Consulta  Almacen</b></span>
                                    </a>
                                </nav>
                            </div>
                            
                           <a class="subtitulo nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#compra" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="ico fa-solid fa-file-invoice-dollar"></i></div>
                                <span style="color: rgb(255, 193, 132);">Compra</span>
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                           <div class="collapse" style="background-color: rgb(169, 72, 14);" id="compra" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" style="background-color: rgb(254, 163, 61);" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" th:href="@{/PedidoCompra/index}" >
                                        <span style="color: black;" class="subcate"><b>Consulta Pedido Compra</b></span>
                                    </a>
                                    <a class="nav-link collapsed" th:href="@{/PedidoCompra/nuevo}">
                                        <span style="color: black;" class="subcate"><b>Generar Pedido Compra</b></span>
                                    </a>
                                </nav>
                            </div>

                            
                            <!--<div class="sb-sidenav-menu-heading">Addons</div>-->
                            <a class=" subtitulo nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#clientes" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="ico fa-solid fa-person-breastfeeding"></i></div>
                                 <span style="color: rgb(255, 193, 132);">Cliente</span>
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="clientes" style="background-color: rgb(169, 72, 14);" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" style="background-color: rgb(254, 163, 61);" id="sidenavAccordionPages">
                                   
                                    <a class="nav-link collapsed" th:href="@{/Cliente/ConsultaDeClientes}" >
                                        <span style="color: black;" class="subcate"><b> Consulta  Cliente</b></span>
                                    </a>
                                </nav>
                            </div>
                            <a class="subtitulo nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#proveedor" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="ico fa-solid fa-boxes-packing"></i></div>
                                <span style="color: rgb(255, 193, 132);">Proveedor</span>
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" style="background-color: rgb(169, 72, 14);" id="proveedor" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" style="background-color: rgb(254, 163, 61);" id="sidenavAccordionPages">
                                    <a class="subtext nav-link" th:href="@{/Proveedor/RegistroDeProveedor}">
                                        <span style="color: black;" class="subcate"><b> Registro Proveedor</b></span>
                                    </a>
                                    <a class="subtext nav-link" th:href="@{/Proveedor/ConsultaDeProveedor}">
                                          <span style="color: black;" class="subcate"><b> Consulta Proveedor</b></span>
                                    </a>
                                </nav>
                            </div>
                            <a class="subtitulo nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#empleado" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="ico fa-solid fa-user-group"></i></div>
                                <span style="color: rgb(255, 193, 132);">Empleado</span>
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" style="background-color: rgb(169, 72, 14);" id="empleado" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" style="background-color: rgb(254, 163, 61);" id="sidenavAccordionPages">
                                    <a class="subtext nav-link" th:href="@{/listar}">
                                        <span style="color: black;" class="subcate"><b>Listado de Empleado</b></span>
                                    </a>
                                  
                                </nav>
                            </div>
                               <a class="subtitulo nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#dashboard" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="ico fa-solid fa-chart-line"></i></div>
                                <span style="color: rgb(255, 193, 132);">DashBoard</span>
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" style="background-color: rgb(169, 72, 14);" id="dashboard" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" style="background-color: rgb(254, 163, 61);" id="sidenavAccordionPages">
                                    <a class="subtext nav-link" th:href="@{/indexd}">
                                        <span style="color: black;" class="subcate"><b>DashBoardVenta</b></span>
                                    </a>
                                    <a class="subtext nav-link" th:href="@{/indexdcompra}">
                                        <span style="color: black;" class="subcate"><b>DashBoardCompra</b></span>
                                    </a>
                                  
                                
                                </nav>
                            </div>
                            
                            <a class="subtitulo nav-link collapsed" style="position: absolute; bottom: 0; margin-bottom: 0.5rem;" href="/loginadmin" >
                                <div class="sb-nav-link-icon" style="font-size: 1rem;"><i class="fa-solid fa-right-from-bracket"></i></div>
                                <span href="/loginadmin" onclick="salir()"  style="color: rgb(255, 193, 132);">Salir</span>   
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
            
              <div id="layoutSidenav_content" class="fondo-img">
				    <div class="contenidop">
				    <div class="consulta">
				    	<div class="contenidodeconsultap">
               				  <div style="margin: 3rem;text-align: center;">
                					<h2 style="color: #212261" class="textconsulta"><b>CONSULTA DE PRODUCTOS PERSONALIZADOS</b><i class="produc fa-solid fa-cake-candles"></i></h2><br>
                			<div>
               			</div>
				    
						<form class="form-inline" th:action=@{/ProductoPersonalizado/Personalizado}>
							<div class="form-group mb2">
								<label class="labelbuscar">Buscar Productos Personalizados: </label>
							</div>
							<div class="form-group mx-sm-3 mb-2">
							<input type="text" name="palabraClave" class="texto form-control" id="palabraClave" th:value="${palabraClave}" placeholder="Ingrese el Nombre del Producto Personalizado" required>
							</div>
						
							&nbsp;&nbsp;
							<div class="contenedordebotom">
								<input type="submit" class="botonb btn btn-success mb-2" value="Buscar">
								<input type="reset" class="botonl btn btn-info mb-2" onclick="limpiar()" value="Limpiar">
								<a  th:href="@{/ProductoPersonalizado/exportarPDF}"class="botonpdf btn btn-danger mb-2">Exportar a PDF <i class="fa-solid fa-file-pdf"></i></a> 
								<a th:href="@{exportarExcel}" class="botonex btn btn-warning mb-2">Exportar a Excel <i class="fa-solid fa-file-excel"></i></a>
								<a th:href="@{grafico}" class="botonex btn btn-primary mb-2">Reporte Grafico Circular <i class="fa-solid fa-chart-pie"></i></a>
							</div>
							
						</form><br><br>
						<div style="padding: 35px; text-align: left;">
	                    	<label style="font-size: 16pt; font-family: 'Secular One', sans-serif; "><b>CANTIDAD DE PEDIDOS PERSONALIZADOS: <span style="color: chocolate ; font-size: 16pt;" th:text="${cantidadDatos}"></span></b></label>
	                    	<br>
	                    	<label th:if="${sumaTotal != null}" style="font-size: 16pt; font-family: 'Secular One', sans-serif;"><b>SUMA TOTAL DE PEDIDOS PERSONALIZADOS: <span style="color: chocolate ; font-size: 16pt;" th:text="'S/'+${sumaTotal}"></span></b></label>
	                    	<label th:if="${sumaTotal == null}" style="font-size: 16pt; font-family: 'Secular One', sans-serif;"><b>SUMA TOTAL DE PEDIDOS PERSONALIZADOS: <span style="color: chocolate ; font-size: 16pt;" th:text="'S/00.00'"></span></b></label>
	                    	</div>
						<table class="table table-bordered border-dark">
							<thead style="background-color: rgb(255, 146, 36); color:  black; ">
								<tr class="tabla">
									<th scope="col">IdProducto</th>
									<th scope="col">Nombre</th>
									<th scope="col">Imagen</th>
									<th scope="col">Cantidad</th>
									<th scope="col">Precio</th>
									<th scope="col">Fecha</th>
									<th scope="col">Porciones</th>
									<th scope="col">Cake</th>
									<th scope="col">Relleno</th>
									<!--<th scope="col">Accesorios</th>
									<th scope="col">Dedicatoria</th>
									<th scope="col">IdCategoria</th> -->
									<th scope="col">Acciones</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="productoPerso : ${listaproduperso}" class="contenido">
									<td scope="row" th:text="${productoPerso.id_producto_perso}"></td>
									<td th:text="${productoPerso.nombre}"></td>
									<td>
										<img th:alt="${productoPerso.imagen}" th:src="@{'/IMAGENES/'+${productoPerso.imagen}}" width="80" height="80">
									</td>
									<td th:text="${productoPerso.cantidad}"></td>
									<td th:text="${productoPerso.precio}"></td>
									<td th:text="${productoPerso.Fecha}"></td>
									<td th:text="${productoPerso.Porciones}"></td>
									<td th:text="${productoPerso.Cake}"></td>
									<td th:text="${productoPerso.Relleno}"></td>
									<!--<td th:text="${productoPerso.Accesorios}"></td>
									<td th:text="${productoPerso.Dedicatoria}"></td>
									<td th:text="${productoPerso.id_categoria}"></td>-->
									<td><a class="editar btn btn-success"
											th:href="@{'/ProductoPersonalizado/editar/' + ${productoPerso.id_producto_perso}}">Editar  <i
                                        class="fa fa-edit"></i></a> 
										<a class="editar btn btn-primary"
											th:href="@{'/ProductoPersonalizado/VerDetalles/'+ ${productoPerso.id_producto_perso}}">Ver Detalles  <i
                                        class="fa fa-edit"></i></a> 
									</td>
								</tr>
							</tbody>
						</table>
				    </div>
				    </div> 		
            </div>
        </div>
        <script type="text/javascript">
            function limpiar(){
                window.location="/ProductoPersonalizado/Personalizado";
            }
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/js/scripts.js"></script>
         <script src="/js/admin.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="/assets/demo/chart-area-demo.js"></script>
        <script src="/assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="/js/datatables-simple-demo.js"></script>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>