@import url('https://fonts.googleapis.com/css2?family=Acme&family=Alfa+Slab+One&family=Cabin:ital@1&family=Grand+Hotel&family=Josefin+Sans:ital,wght@1,600&family=Lobster&family=Mochiy+Pop+One&family=Montserrat+Alternates&family=Nokora&family=Overpass&family=Pacifico&family=Potta+One&family=Preahvihear&family=Secular+One&family=Staatliches&family=Ubuntu&display=swap');

.form1:focus, .form4:focus{
    box-shadow: 0px 0px 0.35rem rgb(255, 0, 0) !important;
}

.form2:focus, .form5:focus{
    box-shadow: 0px 0px 0.35rem rgb(29, 158, 3) !important;
}

.form3:focus, .form6:focus{
    box-shadow: 0px 0px 0.35rem rgb(236, 250, 35) !important;
}
.conten{
	padding-top: 120px;
}
.cabezaregistro{
	padding: 25px;
	background-color: rgb(64, 191, 92);
	font-family: 'Potta One', cursive;
	border-radius: 10px;
	border: none;
}
.cabezaregistro h3{
	font-size: 25pt;
}


.cuerpo{
	background-color: bisque;
}

.cuerpo label{
	font-family: 'Secular One', sans-serif;
}



.footerregistro{
	padding: 25px;
		background-color: rgb(64, 191, 92);
	border-radius: 10px;
	border: none;
}
.botong{
	width: 40%;
	font-size: 14pt;
	background-color: rgb(255, 128, 0);
	color: black;
}

.botong:hover{
	width: 40%;
	font-size: 14pt;
	background-color: rgb(255, 181, 106);
	color: black;
}


.botonl{
	width: 40%;
	font-size: 14pt;
	background-color: rgb(61, 211, 200);

}

.botonl:hover{
	width: 40%;
	font-size: 14pt;
	background-color: rgb(155, 232, 226);
	color: black;

}

.botones{
	padding-left: 140px;
	font-size: 18pt;
	font-family: 'Potta One', cursive;
	
}
.text{
	padding-top: 10px;
	padding-bottom: 10px;
}
.botonesex{
	padding: 8px;
}
