<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>
    <link rel="stylesheet" href="CSS/carritodecompra.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" href="IMG/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/Style/icon.css">
</head>
<body>
    <header>
        <div class="padre">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(137, 79, 40);">
              <div class="container-fluid letrass">
                <a href="" class="avatar" style="background-image: url(IMG/LOGOS/ROCIO)"></a>
                <a class="titulo navbar-brand px-2 text-white " style="font-weight: 7px; font-size:40px;" href="#">Pasteleria Rocio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0  ms-auto m-x p-4" >
                    <li class="nav-item">
                        <a class="sub nav-link active text-white" style="font-weight: 7px; font-size:24px;" aria-current="page" href="index"><span>Inicio</span></a>
                      </li>
                    <li class="nav-item">
                      <a class="sub nav-link active text-white" style="font-weight: 7px; font-size:24px;" aria-current="page" href="contactosR"><span>Contacto</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="sub nav-link text-white" style="font-weight: 7px; font-size:24px;" href="nosotrosR"><span>Nosotros</span></a>
                    </li>
                    <li class="nav-item dropdown " style="font-weight: 7px; font-size:24px;">
                      <a class="sub nav-link dropdown-toggle text-white"  href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span>Tienda</span>
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: rgb(163, 104, 64);">
                           <li><a class="sub dropdown-item" href="/Producto/CategoriaTortasStandard">Estandar</a></li>
                <li><a class="sub dropdown-item" href="#">Eventos</a></li>
                <li><a class="sub dropdown-item" href="/Producto/CategoriaTortasPersonalizadas">Personalizada</a></li>
                      </ul>
                    </li>
        			<li class="nav-item dropdown " style="font-weight: 7px; font-size:24px;">
		                <a class=" sub nav-link dropdown-toggle text-white bi bi-person "   style="font-weight: 7px; font-size:24px;" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		                <span sec:authentication="principal.username"></span>
		              </a>
		              <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: rgb(163, 104, 64);">
						<li sec:authorize="isAuthenticated()"><a class="sub dropdown-item" href="Menu" style="font-size: 20px">Cerrar Sesion</a></li>
						  <li><a class="sub dropdown-item" href="carritodecomprasR" style="font-size: 20px">Carrito de Compra</a></li>
						  <li><a class="sub dropdown-item" href="ubicacionR" style="font-size: 20px">Direcciones de Entrega</a></li>
		                  
		              </ul>
           			</li>
                       <div class="u-pull-right">
                        <li class="submenu">
                            <img src="/IMG/imagenesall/carrito-de-compras.png" alt="" id="img-carrito">
                            <div id="carrito">
                                <table id="lista-carrito" class="u-full-width">
                                    <thead>
                                        <tr>
                                            <th class="car-sup">Imagen</th>
                                            <th class="car-sup">Nombre</th>
                                            <th class="car-sup">Precio</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <a href="#" id="vaciar-carrito" 
                                class="button u-full-width">Vaciar Carrito</a>
                                <a href="#" id="realizar-compra" 
                                class="button u-full-width">Realizar Compra</a>
                            </div>
                        </li>
                      </div>
                  </ul>
                  <form class="d-flex" th:action="@{/Buscar}">
		            <input class="form-control me-2" type="text" name="buscar" id="buscar" th:value="${buscar}" aria-label="Search" required>
		            <input type="submit" class="btn btn-light" style="background-color: #E5A65E;" id="btn" value="Buscar">
          		  </form>
                </div>
              </div>
            </nav>
          </div>
      
    </header>
    <main id="lista-tortas">
        <div class="banner">
            <img src="IMG/imgGaleria/banner2.jpg" alt="">

        </div>
        <div class="cont-banner">
            <h1><b>Pedidos</b> </h1>
            <div class="raya">
                <hr>
            </div>
          
            <p>TODAS NUESTRAS DELICIAS A TU ALCANCE</p>
            <div class="social">
                <label class="ico fa-brands fa-facebook"></label>
                <label class="ico fa-brands fa-twitter"></label>
                <label class="ico fa-brands fa-instagram"></label>
            </div>
        </div>
        <nav class="barra">
            <div class="posicion">
                <ul>
                    <li><a href="/carritodecomprasR">Nuestro Carrito de Compra</a></li>
                    <i class="fa-solid fa-cart-shopping"></i>
                </ul>
            </div>
        </nav>
    </main>
    <section>
        <div class="text">
            <h2><b>Mis Pedidos</b><i class="fa-solid fa-heart"></i></h2>
        </div>
        <div class="container">
            <div>
                <table class="table table-bordered">
                	<tr>
                		<th>Nombre</th>
                		<th>Imagen</th>
                		<th>Precio</th>
                		<th>Cantidad</th>
                		<th>Total</th>
                		<th>Fecha</th>
                	</tr>
                	<tr th:each="x: ${listado}">
                		<td th:text="${x.nombre}"></td>
                		<td>
                			<img th:src="@{/IMAGENES/}+${x.imagen}" width="100px" height="100px">
                		</td>
                		<td th:text="${x.precio}"></td>
                		<td th:text="${x.cantidad}"></td>
                		<td th:text="${x.total}"></td>
                		<td th:text="${x.fecha_emision}"></td>
                	</tr>
                </table>
            </div>
        
        </div>
        <div class="cont-metodos">
            <div class="cont-iconos">
                <div class="contenedor">
                    <span class="icons fa-solid fa-people-roof" style="color: #000;"></span>
                    <h3><b>Metodos de Envio</b></h3>
                    <p>Puedes elegir entre delivery o recojo en local: Jr. Andres Avelino Caceres ft.Paradero Velasco, Año Nuevo-Comas</p>
                </div>
            </div>
            <div class="cont-iconos">
                <div class="contenedor">
                    <span class="icons fa-solid fa-credit-card" style="color: #000;"></span>
                    <h3><b>Metodos de Pago</b></h3>
                    <p> Le ofrecemos varias formas de pagar por su compra.</p>
                </div>
            </div>
            <div class="cont-iconos">
                <div class="contenedor">
                    <span class="icons fa-solid fa-thumbs-up" style="color: #000;"></span>
                    <h3><b>100% Satisfaccion</b></h3>
                    <p> Usted disfrutará de un producto de calidad </p>
                </div>
            </div>
            <div class="cont-iconos">
                <div class="contenedor">
                    <span class="icons fa-solid fa-comments" style="color: #000;"></span>
                    <h3><b>Escribanos</b></h3>
                    <p> Le responderemos lo más pronto posible.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer">
            <p>
                DESARROLLADO POR EL EQUIPO SCRUM

            </p>
            <div class="socialess">
                <a href="">
                    <label class="is fa-brands fa-facebook" ></label>   
                </a>
                <a href="">
                    <label class="is fa-brands fa-instagram" ></label>
                </a>
                <a href="">
                    <label  class="is fa-brands fa-whatsapp" ></label>
                </a>
            </div>
        </div> 
        <div class="footer">
            <p>Estudiantes de Desarrollo de Sistemas</p>
            <div class="logoidat">
                <img src="IMG/imgGaleria/idat.png" alt="" class="logoid">

            </div>
        </div>
        <div class="footer">
            <p>Programadores y Diseñadores Web</p>
            <div class="logoidat">
                <img src="IMG/imgGaleria/perfil.jpg.png" alt="" class="idperfil">

            </div>
        </div> 
    </footer>

    <script src="/js/carritoR.js"></script>
    <script src="/js/pedidoR.js"></script>
    <script src="https://kit.fontawesome.com/59a2028302.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>