<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politicas de Privacidad</title>
    <link rel="stylesheet" href="CSS/politicasdeprivacidad.css">
    <link rel="stylesheet" href="CSS/hambuguer.css">
    <link rel="shortcut icon" href="IMGS/favicon.png" type="image/x-icon">
</head>
<body>
    <header>
        <div class="botonera">
            <ul>
                <i class="ico fa-solid fa-envelope-circle-check"></i>
                <li><b><a href="mailto:pasteleriarocio07@gmail.com"><span>pasteleriarocio07@gmail.com</span></a></b></li>
                <li><i class="ico fa-brands fa-facebook-f"></i></li>
                <li><i class="ico fa-brands fa-instagram"></i></li>             
            </ul>
        </div>
        <div class="direcciones">
            <ul>
            	<li><a><span sec:authentication="principal.username"></span></a></li>
                <li><a href="nosotrosR">Lista de Deseos</a></li>
                <li><a href="carritodecomprasR">Elementos</a></li>
                <i class="ico fa-solid fa-cart-shopping"></i>
            </ul>
        </div>
    </header>
    
    <nav id="botoneras">
        <div class="posicion">
            <ul>
                <li><b><a href="index"><span>INICIO</span></a></b></li>
                <li><b><a href="nosotrosR"><span>NOSOTROS</span></a></b></li>
                <li><b><a href="galeriaR"><span>GALERIA</span></a></b></li>
                <li><b><a href="contactosR"><span>CONTACTOS</span></a></b></li>           
            </ul>

        </div>
    </nav>
    <section>
        <article>
            <h1>Politicas de privacidad</h1>
            <h4>Politica de Privacidad</h4>
            <p>
                PASTELERIA ROCIO  con RUC 10097400020  (en adelante “rocio”) mantiene un firme compromiso por el cumplimiento de las disposiciones legales aplicables en el país. En ese sentido declara 
                que los datos personales deben ser tratados de tal forma que cumplan con las disposiciones legales aplicables y el 
                respeto a sus clientes. Asimismo, Velvet declara que respeto los principios rectores establecidos en la normativa de 
                Protección de Datos Personales.
            </p>
            <p>
                En ese sentido, la presente Política de Privacidad (en adelante, la “Política) tiene por objeto hacer de conocimiento a los visitantes y clientes a la web de Velvet (en adelante “clientes”, “visitantes” y/o “consumidor”) el compromiso 
                de Velvet con la protección de sus datos personales y los lineamientos bajo los cuales se tratarán para el adecuado uso y funcionamiento para la navegación en la presente página web <a href="MenuPrincipal.html" class="link">htt:/wwww.Rocio.com</a>, (en adelante, la “Web”) 
                la cual es operada por Pixelaris y Openpay como pasarela de pagos.
            </p>
            <p>
                Dicho esto, los clientes y proveedores autorizan a Rocio a realizar el tratamiento de los datos que se declaran a 
                través de la Web, los cuales serán almacenados en los siguientes 
                Bancos de Datos de titularidad de Rocio.
            </p>
            <p>
                Rocio declara que cualquier tratamiento de los Datos Personales se ajustan y respetan la normativa vigente 
                aplicable.
            </p>
            <p>
                Rocio informa al cliente que, para la prestación de los servicios y/o ejecución de las disposiciones establecidas en los Términos y Condiciones aceptados, realizará el tratamiento de su nombre, 
                apellidos, documento de identidad, dirección, correo electrónico, teléfono, usuarios, claves de acceso mientras dure la relación contractual. 
                Este tratamiento será realizado por Rocio.
            </p>
            <p>
                Rocio declara que la información mencionada en el párrafo precedente es necesaria 
                para el cumplimiento de las obligaciones a su cargo, las mismas que de otra forma no 
                podrían ejecutarse. Entre los servicios y/o disposiciones mencionados se encuentran: i) 
                la creación y gestión de cuenta de usuario, ii) la coordinación, entrega de productos y 
                postventa (medición de satisfacción, registro de vales/cupones), y, iii) la atención de 
                solicitudes y reclamos.
            </p>
            <p>
                El cliente y el proveedor declaran que la compra o venta a través de la Web implica la 
                aceptación de la presente Política, por lo cual el cliente otorga su consentimiento para 
                que los Datos Personales sean tratados por un plazo indefinido, y mientras no solicite 
                su cancelación o revoque la presente autorización, 
                para las siguientes finalidades adicionales:
            </p>
            <br>
            <p>
                <li class="puntos">
                    Enviar al cliente información comercial, promocional y/o publicidad con relación a los 
                    productos y/o servicios brindados por Velvet, así como realizar prospección comercial. 
                    El contacto se realizará a través de mensajes 
                    por correo electrónico.

                </li>
                <li class="puntos">
                    Almacenar y tratar los Datos Personales con fines estadísticos y/o históricos.
                </li>
                <li class="puntos">
                    Hacer el listado de proveedores para proyección comercial.
                </li>
            </p>
            <h4>Ejercicio de Derechos</h4>
            <p>
                Los clientes y proveedores reconocen que, como titular de los Datos Personales, 
                tiene derecho a acceder a los datos en posesión de Velvet, conocer las características 
                de su tratamiento, rectificarlos en caso de ser inexactos o incompletos, solicitar que 
                sean suprimidos o cancelados al considerarlos innecesarios para las finalidades 
                previamente expuestas, 
                o bien oponerse a su tratamiento para fines específicos.
            </p>
            <p>
                A fin de ejercer los derechos antes mencionados, así como para revocar el consentimiento brindado para el tratamiento de datos para finalidades no relacionadas con la prestación de los servicios y/o ejecución de las disposiciones establecidas en los Términos y Condiciones, el cliente deberá presentar una solicitud (incluyendo el nombre del titular de los Datos Personales, 
                domicilio o medio para recibir respuesta, documentos que acrediten su 
                identidad o representación legal, descripción clara y precisa de los datos respecto de los que se busca ejercer el derecho y otros elementos o documentos que faciliten la localización de los datos) por escrito a través de la dirección electrónica informesvelvet@gmail.com. De considerar que no se ha atendido su 
                requerimiento de manera correspondiente, puede dirigirse ante la Autoridad Nacional de Protección de Datos Personales (Calle Andres Caceres, COMAS), con la finalidad de presentar algún reclamo o solicitud complementaria.
            </p>
            <h4>Politica de Cookies Rocio</h4>
            <p>
                Por medio de la presente, Rocio da a conocer a sus usuarios el tipo de cookies que se establecen en la plataforma y sus funciones.
            </p>
                Rocio deja en claro que la aceptación de las cookies no es un requisito para visitar la Plataforma sin embargo el uso de la funcionalidad [*],para el inicio de sesión, almacenar detalles de autentificación y la de aceptar una orden sólo es posible con la activación de las cookies.
            </p>
            <p>
                Las cookies que usted aceptará si lo desea son cookies de sesión, esto quiere decir que son temporales y mediante las
                 cuales únicamente almacenaremos información sobre los usuarios durante una sola sesión. Estas son almacenadas temporalmente 
                 en la memoria y son automáticamente eliminadas cuando la sesión 
                termina o el usuario cierra el navegador
            </p>
            <p>
                Las cookies son pequeños archivos de texto que identifican a su computadora a nuestro servidor como un usuario único, cuando visitas ciertas páginas en el sitio y que son almacenados por su navegador de internet en el disco duro de su computadora. Las cookies no son dañinas y no le harán daño a su computadora, tampoco podemos recoger su información personal a través de estas. Las cookies están para ahorrarle tiempo al usuario mientras se encuentra en la plataforma. En ese sentido, sólo utilizamos cookies para su comodidad en el uso de la plataforma (por ejemplo, para recordar quién es cuando el usuario desea modificar los productos que desea adquirir a través de la plataforma, 
                sin necesidad de volver a ingresar su usuario o volver a introducir su dirección de correo electrónico) y no para obtener o usar cualquier otra información del usuario (por ejemplo, de publicidad segmentada).
            </p>
            <p>
                Adicionalmente a lo indicado, cumplimos con informarles que usted no necesita aceptar las cookies, y puede inhabilitar estas cookies, configurando su navegador para no aceptarlas, sin embargo, dejamos expresa constancia que esta inhabilitación restringiría su uso de la plataforma. Dicho esto, Velvet reafirma su garantía que el uso de cookies no contiene datos de carácter personal o privado, y están libres de virus.
            </p>
            <p>
                Rocio deja constancia que, mediante el uso de la plataforma, el usuario da su consentimiento a la utilización de cookies en la forma y para las finalidades anteriormente indicadas.
            </p>
        
        </article>
        <aside>
            <h3>Buscar</h3>
            <hr>
            <br>
            <br>
            <input type="text" placeholder="Buscar productos"><i class="buscar fa-solid fa-magnifying-glass"></i>
            <br>
            <h3>Categorias del Producto</h3>
            <hr>
            <li class="cate">Tortas Standars/Predeterminadas</li>
            <hr>
            <li class="cate">Tortas Personalizadas</li>
            <hr>
            <li class="cate">Tortas para Evento</li>
            <br>
            <br>
            <h3>Carrito</h3>
            <hr>
            <br>
            <br>
            <p>informacion de carrito</p>
            <br>
            <a href="carritodecomprasR">
                <input type="button" value="IR A CARRITO DE COMPRA">

            </a>

        </aside>
    </section>
    <footer>
        <div class="footer">
            <p>
                DESARROLLADO POR EL EQUIPO SCRUM

            </p>
            <div class="socialess">
                <a href="">
                    <label class="is fa-brands fa-facebook" ></label>   
                </a>
                <a href="">
                    <label class="is fa-brands fa-instagram" ></label>
                </a>
                <a href="">
                    <label  class="is fa-brands fa-whatsapp" ></label>
                </a>
            </div>
        </div> 
        <div class="footer">
            <p>Estudiantes de Desarrollo de Sistemas</p>
            <div class="logoidat">
                <img src="IMGS/imgGaleria/idat.png" alt="" class="logoid">

            </div>
        </div>
        <div class="footer">
            <p>Programadores y Diseñadores Web</p>
            <div class="logoidat">
                <img src="IMGS/imgGaleria/perfil.jpg.png" alt="" class="idperfil">

            </div>
        </div> 
    </footer>
 
    <script src="https://kit.fontawesome.com/59a2028302.js" crossorigin="anonymous"></script>
    
</body>
</html>