<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TERMINOS Y CONDICIONES</title>
    <link rel="stylesheet" href="CSS/terminosycondiciones.css">
    <link rel="shortcut icon" href="IMGS/favicon.png" type="image/x-icon">
</head>
<body>
    <header>
        <div class="botonera">
            <ul>
                <i class="ico fa-solid fa-envelope-circle-check"></i>
                <li><b><a href="mailto:pasteleriarocio07@gmail.com"><span>pasteleriarocio07@gmail.com</span></a></b></li>
                <li><i class="ico fa-brands fa-facebook-f"></i></li>
                <li><i class="ico fa-brands fa-instagram"></i></li>             
            </ul>
        </div>
       
        <div class="direcciones">
            
            <ul>
                <li><a href="login" class="link4">Mi cuenta</a></li>
                <li><a href="nosotros">Lista de Deseos</a></li>
                <li><a href="carritodecompras">Elementos</a></li>
                <i class="ico fa-solid fa-cart-shopping"></i>
            </ul>
        </div>
    </header>
    
    <nav id="botoneras">
        <div class="posicion">
            <ul>
                <li><b><a href="Menu"><span>INICIO</span></a></b></li>
                <li><b><a href="nosotros"><span>NOSOTROS</span></a></b></li>
                <li><b><a href="galeria"><span>GALERIA</span></a></b></li>
                <li><b><a href="contactos"><span>CONTACTOS</span></a></b></li>           
            </ul>

        </div>
    </nav>
    <section>
        <article>
            <h1>Terminos y Condiciones</h1>
            <p>
                El objeto de los presentes Términos y Condiciones es regular el acceso y uso al sitio web https://pasteleriarocio.com, (en adelante, la “Web”) 
                entendiéndose por este cualquier tipo de contenido, producto que se encuentre a disposición de los visitantes y clientes a la Web (en adelante 
                “clientes”, “visitantes” y/o “Cliente”).
            </p>
            <p>
                La Web es de titularidad de María Gabriela Aguilar Adrianzen. (en adelante, “Rocio”) quien se reserva la facultad de modificar, alterar total o 
                parcialmente en cualquier momento y sin previo aviso el contenido, presentación, funcionalidad, diseño, estructura, los productos que pudiera contener 
                la Web. En ese sentido, los visitantes reconocen y aceptan que Velvet podrá en cualquier momento interrumpir, desactivar, eliminar, modificar o 
                cancelar cualquiera de los elementos que componen la Web. Asimismo, los visitantes declaran que debido a las posibles modificaciones que pueda 
                realizar Velvet a la Web, deberán revisar los Términos y Condiciones que se encuentren vigentes al momento de la consulta.
            </p>
            <p>
                La Web está dirigida a personas mayores de edad, por lo cual, Velvet no tendrá responsabilidad alguna ya sea presente o futura, directa o indirecta, por el incumplimiento de este requisito. 
                En ese sentido, para continuar visitando La Web, el visitante declara ser mayor de edad 
                y disponer de la capacidad necesaria para sujetarse a los presentes Términos y Condiciones y/o los demás documentos o condiciones que se encuentren en La Web.
            </p>
            <p>
                La Web se compromete a realizar sus mejores esfuerzos para prestar el acceso y uso completo y continuo de La web, sin embargo, no se 
                responsabiliza 
                por cualquier falla o interrupción en la Web cuando sean realizados por casos no imputables a Rocic.
            </p>
            <p>
                Velvet señala como su domicilio [*], provincia y departamento de Lima, República del Peru por lo cual el cliente declara conocer que la 
                jurisdicción es la de Lima, renunciando la jurisdicción 
                de su domicilio y sometiéndose a las autoridades administrativas o judiciales de Lima.
            </p>
            <h4>Terminos y Condiciones Especificos</h4>
            <p>
                Las transacciones que se efectúen en la Web, se encuentran sujetas a los presentes Términos y Condiciones, así como de forma supletoria a la legislación peruana vigente.
            </p>
            <p>
                En ese sentido, es obligatorio, y el visitante se obliga a conocer y aceptar previamente los presentes Términos y Condiciones, 
                antes de proceder a utilizar los servicios 
                de la Web o realizar cualquier compra.
            </p>
            <h4>Descripcion del Servicio</h4>
            <p>
                La Web es una plataforma virtual por medio de la cual, se ofrecen productos identificados de imágenes referenciales cuya 
                elaboración estará sujeta al stock y a la temporada especifica para ciertos insumos.
            </p>
            <p>
                Adicionalmente Rocio es la encargada del despacho de los productos adquiridos a través de la Web al Cliente si así se llega a pactar.
            </p>
            <h4>Renuncias</h4>
            <p>
                Será responsabilidad del Cliente, asegurarse de que la información sobre cualquier producto, servicio o información disponible a través 
                de la Web cumpla con sus requerimientos 
                específicos, caso contrario será de su entera responsabilidad el no poner atención a dichas especificaciones.
            </p>
            <p>
                Todos los dibujos, imágenes, descriptivos y especificaciones en el sitio web tienen el único propósito de dar 
                una descripción aproximada de su información general y sólo se debe utilizar como una guía.
            </p>
            <p>
                Los precios y ofertas sólo son válidos en el momento de su publicación en el sitio web.
            </p>
            <p>
                Todos los precios y descripciones sustituyen a todas las publicaciones anteriores.     
            </p>
            <p>
                Se hace todo lo posible para mantener actualizada la información relativa a la disponibilidad de existencias en el sitio web. Sin embargo, 
                no garantizamos que este sea el caso, o que las existencias estarán siempre disponibles.
            </p>
            <p>
                La Web se proporciona en la forma en que está disponible y no ofrecemos ninguna garantía, ya sea expresa o implícita, estatutaria o de 
                otro tipo (a menos que se indique expresamente en estos términos y condiciones o sea obligatoria por mandato de la Ley), en relación con 
                la información, contenidos o servicios encontrados u ofrecidos en la Web, para cualquier propósito particular o cualquier transacción que 
                se pueda realizar en, o a través de la Web, incluyendo pero no limitado a, garantías implícitas de no infracción o incumplimiento, puntualidad, 
                desempeño, 
                seguridad, exactitud, condición o integridad, o cualquier garantía implícita que surja del curso de negociación, de uso o costumbre comercial.
            </p>
            <p>
                No hacemos ninguna representación de ningún tipo, expresa o implícita, legal o de otra indole, con respecto a la disponibilidad de la Web, 
                así como sobre que esta será oportuna o libre de errores, 
                como tampoco, que los defectos serán corregidos o que el Sitio Web o el servidor que lo hace disponible, lo haga libre de virus o errores.
            </p>
            <p>
                No hacemos ninguna representación de ningún tipo, expresa o implícita, legal o de otra indole, con respecto a la disponibilidad de la Web, 
                así como sobre que esta será oportuna o libre de errores, como tampoco, que los defectos serán corregidos o que el Sitio Web o el servidor 
                que lo hace disponible, lo haga libre de virus o errores.
            </p>
            <p>
                Debe asumir el riesgo asociado con el uso de Internet. En particular, no seremos responsables de ningún daño o pérdida causado por un ataque 
                distribuido de por agentes ajenos y/o Clientes o proveedores del servicio, troyanos de virus, gusanos, bombas lógicas, registradores de 
                pulsaciones de teclas, spyware u otro material que sea malicioso o tecnológicamente dañino que pueda infectar su computadora, datos u otro 
                material de propiedad como resultado del uso del sitio web o de la descarga de cualquier material publicado o vendido en el sitio web o de 
                cualquier sitio web vinculado a él.
            </p>
            <h4>Stock y Precios</h4>
            <p>
                Rocio señala que el único responsable del stock, los precios y entrega de los productos es el Proveedor. En ese sentido el cliente declara 
                y acepta 
                que es entera responsabilidad del Proveedor la actualización de la información contenida en la Web.
            </p>
            <p>
                En ese sentido, Velvet señala que se exime de toda responsabilidad por errores omisiones o falta de actualización del sitio 
                Web por parte de 
                los Proveedores, en lo que respecta a precios, stock y/o cualquier detalla del producto.
            </p>
            <p>
                El cliente o visitante de La Web podrá utilizar cualquier tarjeta de crédito o débito para 
                realizar las compras en La Web. El medio de pago se realiza a través de la plataforma Monnet.
            </p>
            <p>
                Rocio no ofrece ningún tipo de garantía respecto a los productos adquiridos en La Web. En ese sentido, 
                cada Proveedor es responsable de la garantía ofrecida por sus productos.
            </p>
            <h4>Despacho y Entrega de los Productos</h4>
            <p>
                El despacho y la entrega de los productos adquiridos a través de La Web se realizará directamente por 
                Rocio, en un plazo máximo de 48 horas para Lima y 72 horas para provincias.
            </p>
            <p>
                Una vez recibida la orden de compra, el cliente recibirá una confirmación de orden de compra en la que 
                se consignará la información necesaria de la transacción, indicando los datos de contacto del Proveedor.
                 Adicionalmente, el Proveedor le enviará una copia del comprobante de pago, acreditando su compra.    
            </p>
            <p>
                El cliente declara que es el único responsable por los datos de contacto indicados para el despacho y 
                entrega de los productos adquiridos a través de La Web. En ese sentido, Velvet no se responsabiliza bajo 
                ningún supuesto por cualquier error en la suministración de dicha información.
            </p>
            <h4>Cambios y Devoluciones</h4>
            <p>La empresa acepta cambio y devoluciones acepto de:</p>
            <p>
                1.Productos abiertos, muestren señales de manipulación.
                2.De no contar con el comprobante de pago (boleta o factura).
            </p>
            <p>
                De realizar cualquier cambio y/o devolución el Cliente deberá de cumplir con las condiciones detalladas a continuación:
            </p>
            <p>
                El Cliente deberá comunicarse con Contact Center, número 952252835, o acercarse remitir un correo electrónico a 
                pasteleriarocio07@gmail.com. Se realizará el cambio del producto o la devolución del dinero según corresponda.
            </p>
            <h4>Tratamiento de Datos Personales</h4>
            <p>
                Velvet informa al Cliente que realizará el tratamiento de sus datos personales brindados en La Web los cuales incluyen (nombre, apellidos, documento de identidad, 
                correos electrónicos, Cliente, claves de acceso, dirección y teléfono). El cliente declara conocer que este tratamiento de datos es necesario y tiene la finalidad 
                de ejecutar las prestaciones a cargo de Velvet, entre las cuales se incluyen las de (i) facturar al cliente, (ii) realizar la atención post venta; (iii) enviarle 
                las promociones y ofertas de los productos.
            </p>
            <p>
                Para mayor detalle del tratamiento de datos personales, el Cliente declara conocer y aceptar la Política de Privacidad de Velvet, 
                la cual declara haber leído y 
                que se encuentra aquí. (Linkear al documento denominado “Política de Privacidad”).    
            </p>
            <li>MEDIOS DE PAGO</li>
            <p>En la WEB VelvetHomeMade se podrán utilizar los medios de pago proporcionados por Openpay como operador de las pasarelas de pagos 
                contratadas por VelvetHomeMade , y aquellos otros medios de pago proporcionados por el propio VelvetHomeMade . VelvetHomeMade  
                se reserva el derecho de contratar pasarelas de pagos de otros operadores.</p>
            <p>Entre las formas de pago disponibles actualmente se cuenta con:</p>
            <p>Pagos a través de la plataforma de pago Openpay con tarjetas.</p>
            <p>Tarjetas de débito Visa y Mastercard. El pago con tarjeta de débito se rige por los términos y condiciones establecidos por la entidad bancaria emisora de la referida tarjeta.</p>
            <p>Tarjetas de crédito Visa, MasterCard, American Express, Diners, emitidas en el Perú, siempre que mantengan un contrato vigente para tales efectos con la empresa oferente. Para tales efectos, cuando 
                el cliente ingrese los números de la tarjeta y los códigos de seguridad se tendrá por verificada su identidad, siendo responsabilidad de los clientes salvaguardar dichos datos.</p>
            <p>El uso de las tarjetas singularizadas precedentemente se sujetará a lo establecido en estos ‘Términos y condiciones’ y en relación con su emisor, y a lo pactado en los respectivos Contratos de Apertura 
                y Reglamento de Uso. En caso de contradicción, predominará lo expresado en ese último instrumento.</p>
            <p>Tratándose de las tarjetas bancarias aceptadas en este sitio, los aspectos relativos a estas —tales como la fecha de emisión, caducidad, cupo, bloqueos, clave secreta, etcétera— están sujetos al 
                contrato existente entre El cliente y el banco emisor de su tarjeta de crédito o débito, sin que VelvetHomeMade tenga responsabilidad alguna sobre los aspectos señalados en dichos contratos. 
                El sitio podrá indicar determinadas condiciones de compra según el medio de pago que utilice El cliente.</p>
            <p>Con respecto a los reembolsos por cancelación de un pedido, dicho reembolso puede proceder una vez que la cancelación de un pedido ha 
                sido aceptada por VelvetHomeMade o bien después de aprobarse la devolución por VelvetHomeMade . En todos los casos se deducirá los 
                montos de comisión 
                que apliquen los operadores de las pasarelas de pago más los montos de penalidad que RocioHomeMade decida aplicar.</p>
            <p>RocioHomeMade aprobará la devolución de un producto siempre que:</p>
            <p>Es requisito indispensable para la devolución que el usuario entregue el producto con el gramaje más próximo al peso original 
                de compra y en buen estado de conservación, sin evidencias de contacto o suciedad.</p>
            <p>RocioHomeMade apruebe el control de calidad practicado al producto.</p>
            <p>Para cualquier forma de pago, aceptada la devolución, se generará una nota de crédito y posteriormente, 
                si RocioHomeMade lo aprueba, se tramitará el reembolso. En caso de que El cliente desee utilizar la nota de crédito para una nueva compra, 
                deberá comunicarse con VelvetHomeMade al correo hola@velvethomemade.com.</p>
            <p>
                Si el reembolso se realiza a través del depósito en cuenta, dicho depósito se hará en la cuenta bancaria del titular del pedido, nunca a terceros 
                o por medio de giros o cheques. El tiempo y la forma de reembolso dependerán de la forma de pago con la que El cliente realizó la compra y de la duración 
                del trámite administrativo interno en VelvetHomeMade .
            </p>
        </article>
        <aside>
            <h3>Buscar</h3>
            <hr>
            <br>
            <br>
            <input type="text" placeholder="Buscar productos"><i class="buscar fa-solid fa-magnifying-glass"></i>
            <br>
            <h3>Categorias del Producto</h3>
            <hr>
            <li class="cate">Tortas Standars/Predeterminadas</li>
            <hr>
            <li class="cate">Tortas Personalizadas</li>
            <hr>
            <li class="cate">Tortas para Evento</li>
            <br>
            <br>
            <h3>Carrito</h3>
            <hr>
            <br>
            <br>
            <p>informacion de carrito</p>
            <br>
            <a href="carritodecompras">
                <input type="button" value="IR A CARRITO DE COMPRA">

            </a>

        </aside>
    </section>
    <footer>
        <div class="footer">
            <p>
                DESARROLLADO POR EL EQUIPO SCRUM

            </p>
            <div class="socialess">
                <a href="">
                    <label class="is fa-brands fa-facebook" ></label>   
                </a>
                <a href="">
                    <label class="is fa-brands fa-instagram" ></label>
                </a>
                <a href="">
                    <label  class="is fa-brands fa-whatsapp" ></label>
                </a>
            </div>
        </div> 
        <div class="footer">
            <p>Estudiantes de Desarrollo de Sistemas</p>
            <div class="logoidat">
                <img src="IMGS/imgGaleria/idat.png" alt="" class="logoid">

            </div>
        </div>
        <div class="footer">
            <p>Programadores y Diseñadores Web</p>
            <div class="logoidat">
                <img src="IMGS/imgGaleria/perfil.jpg.png" alt="" class="idperfil">

            </div>
        </div> 
    </footer>

    <script src="https://kit.fontawesome.com/59a2028302.js" crossorigin="anonymous"></script>

</body>
</html>