<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="/CSS/nosotros.css">
    <link rel="shortcut icon" href="/IMG/favicon/favicon.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/c5518553b0.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" />
</head>
<body>
    <header>
      	<div class="padre">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(163, 104, 64)">
                <div class="container-fluid letrass">
                    <a href="/" class="avatar" style="background-image: url(/IMG/Logo/ROCIO.png)"></a>
                    <a class="navbar-brand px-2 text-white" style="font-weight: 7px; font-size: 30px"
                        href="/">Pasteleria Rocio</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto m-x p-4">
                            <li class="nav-item">
                                <a class="nav-link active text-white" style="font-weight: 7px; font-size: 24px"
                                    aria-current="page" href="/Contactos">Contacto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" style="font-weight: 7px; font-size: 24px"
                                    href="/Nosotros">Nosotros</a>
                            </li>
                            <li class="nav-item dropdown" style="font-weight: 7px; font-size: 24px">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Tienda
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown"
                                    style="background-color: rgb(163, 104, 64)">
                                    <li>
                                        <a class="dropdown-item" th:href="@{/Producto/CategoriaTortasStandard}">Estandar</a>
                                    </li>
                                    <li><a class="dropdown-item" href="#">Eventos</a></li>
                                    <li><a class="dropdown-item" th:href="@{/Producto/CategoriaTortasPersonalizadas}">Personalizada</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown" style="font-weight: 7px; font-size: 24px">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Mi Cuenta
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown"
                                    style="background-color: rgb(163, 104, 64)">
                                    <li>
                                        <a class="dropdown-item" href="/MENU/PAGINAS/login.html">Cuenta</a>
                                    </li>
                                    <!--<li><a class="dropdown-item " href="#">Pedidos</a></li>-->
                                    <li>
                                        <a class="dropdown-item" href="/MENU/CarritoDeCompras/index.html">Carrito de
                                            Compra</a>
                                    </li>
                                    <!--<li><a class="dropdown-item" href="#">Finazalizar Compra</a></li>-->
                                </ul>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" aria-label="Search" />
                            <button type="button" class="btn btn-light" style="background-color: #e5a65e">
                                Buscar
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <img src="/IMG/imgGaleria/bannernosotros02.jpg" alt="">
        <div class="cont-banner">
            <h1>Nosotros</h1>
            <p>CONOCE NUESTRA HISTORIA</p>
            <div class="social">
                <label class="ico fa-brands fa-facebook"></label>
                <label class="ico fa-brands fa-twitter"></label>
                <label class="ico fa-brands fa-instagram"></label>
            </div>
        </div>
    </main>
    <section class="cuerpo">
        
            <h2>¿Quienes somos?</h2>
            <hr style="color: chocolate">
            <h4>EL DULCE ARTE Y LA CALIDAD NOS DEFINEN</h4>
            <div class="textos">
                <p>
                    La Pasteleria  "ROCIO"   cuenta con 8 años de éxito dedicados a la elaboración de los más exquisitos productos en la repostería   
                    con el fin de deleitar los paladares del cliente desde que se abrieron las puertas del negocio por primera vez. Esta idea nace gracias a la enseñanza por parte de un familiar en 
                    la etapa de la infancia de la dueña, convirtiéndose en la actualidad líder de un negocio que sobresale tanto en el distrito de Comas como de Puente Piedra contando una sede en 
                    cada lugar cuyo mayor objetivo es brindar a todos los clientes un producto de calidad dentro de las normas de higiene
                    y una excelente atención para complacer el antojo y el buen gusto en la cocina y el amor a la pastelería.
                </p>
                <p>
                    La empresa comienza a surgir gracias a la iniciativa por parte de la misma  dueña que ofrecia los pasteles u otro tipo de postres de casa en casa , 
                    descubriendo asi la oportunidad de 
                    poder transmitir dulzura y amor mediante sus buenos pasteles en el que ella se dedicaba y se esforzaba cada dia . 
                </p>

            </div>
            <div class="contenedor">
                <video src="/video/VideoRocio.mp4" width="640px" controls></video>
            </div>

          
    </section>
	<footer class="pt-1 text-center text-lg-start text-muted letrass" style="background-color: #a66832">
        <section class=""></section>
        <section class="">
            <div class="footer-f container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="subletra text-uppercase fw-bold mb-4">Clientes</h6>
                        <p>
                            <a href="../PAGINAS/paginas_demas/login.html"
                                class="subtexto text-reset text-decoration-none bi bi-person-circle"><span>Mi
                                    Cuenta</span></a>
                        </p>
                        <p>
                            <a href="#!"
                                class="subtexto text-reset text-decoration-none bi-bag-plus-fill"><span>Pedidos</span></a>
                        </p>
                        <p>
                            <a a href="../PAGINAS/pagina_carrito/"
                                class="subtexto text-reset text-decoration-none bi bi-cart-plus-fill"><span>Carrito de
                                    Compra</span></a>
                        </p>
                        <p>
                            <a href="../PAGINAS/paginas_demas/finalizarcompra.html"
                                class="subtexto text-reset text-decoration-none bi bi-cart-check-fill"><span>Finalizar
                                    Compra</span></a>
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="subletra text-uppercase fw-bold mb-4">Informacion</h6>
                        <p>
                            <a href="/Nosotros"
                                class="subtexto text-reset text-decoration-none bi bi-people-fill"><span>Nosotros</span></a>
                        </p>
                        <p>
                            <a href="/Galeria"
                                class="subtexto text-reset text-decoration-none bi bi-image"><span>Galeria</span></a>
                        </p>
                        <p>
                            <a href="/Contactos"
                                class="subtexto text-reset text-decoration-none bi bi-telephone-inbound-fill"><span>Contactanos</span></a>
                        </p>
                        <p>
                            <a href="/PoliticaDePrivacidad"
                                class="subtexto text-reset text-decoration-none bi bi-shield-fill"><span>Politica de
                                    Privacidad</span></a>
                        </p>
                        <p>
                            <a href="../PAGINAS/paginas_demas/terminosycondiciones.html"
                                class="subtexto text-reset text-decoration-none bi bi-lock-fill"><span>Terminos y
                                    Condiciones</span></a>
                        </p>
                        <p>
                            <a href="#"
                                class="subtexto text-reset text-decoration-none bi bi-geo-alt-fill"><span>Direccion</span></a>
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="subletra text-uppercase fw-bold mb-4">Contactanos</h6>
                        <p>
                            <a href="#!" class="subtexto text-reset text-decoration-none"><span>Whatsapp</span></a>
                        </p>
                        <p>
                            <a href="#!" class="subtexto text-reset text-decoration-none"><span>Correo</span></a>
                        </p>
                    </div>
                    <div class="col-md-2 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="subletra text-uppercase fw-bold mb-4">
                            Contactanos Directo
                        </h6>
                        <p>
                            <a href="https://web.whatsapp.com/"
                                class="subtexto text-reset text-decoration-none bi bi-whatsapp">+51 952-252-835</a>
                        </p>
                        <p>
                            <a href="mailto:pasteleriarocio07@gmail.com"
                                class="subtexto text-reset text-decoration-none bi bi-envelope-fill">pasteleriarocio7@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <div class="footer-f text-center p-4" style="background-color: #a66832">
            <a class="text-reset fw-bold text-decoration-none" href="#"></a>
        </div>
    </footer>
    <div class="footer-f textsub text-center p-4" style="background-color: rgb(130, 73, 33); height: 100px">
        Desarrollado por el Grupo © 2022 Copyright:
        <a class="text-reset fw-bold text-decoration-none" href="#">Pasteleria Rocio</a>
    </div>
    <a class="whatsapp">
        <i class="fa-brands fa-whatsapp"></i>
    </a>
    <a class="carrito">
        <i class="fa-solid fa-cart-plus"></i>
    </a>
    <script src="https://kit.fontawesome.com/59a2028302.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>